* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.page-container {
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.grid-container {
  margin: 2rem;
  margin-top: auto 10px;
  display: grid;

  justify-content: c;
  align-items: center;
  padding: 1rem;
  gap: 100px;
  border: 1px solid hsl(70, 10%, 70%);
  box-shadow: 0 0 10px 0 hsl(147, 95%, 45%);
}

/* .grid-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 150px;
  align-items: stretch;
  grid-auto-rows: 200px;
  margin: 0;
  padding:10px;
} */

img {
  width: 500px;
  border: 1px solid hsl(0, 0%, 100%);
}
