* {
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow: auto;
  max-width: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 4rem;
  height: 50vh;
  width: 50vh;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "vp1 vp2"
    "vp3 vp4";
  gap: 20px;
  column-gap: 20px;
}

.bust {
  overflow: hidden;
}
