* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav-icon {
  border-radius: 50%;
  max-width: 50px;
  background-color: rgb(255, 255, 255);
}

/* .nav-except{
  margin-left: 0;
} */

.full-screen-header {
  height: 100vh;
  background-image: url("images/vaporbackground.jpeg");
  background-size: cover;
  background-position-x: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: rgba(201, 4, 250, 0.9);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/* nav a:first-child {
  margin-left: 0;
} */

/* nav:not(.nav-except) {
  margin-left: 1 rem;
} */

.nav a {
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.nav li a {
  --background-color: hsl(17, 82%, 49%);
  --box-shadow: hsl(17, 82%, 29%);
  --hover-background-color: hsl(17, 82%, 39%);

  margin-left: 1rem;
  background-color: var(--background-color);
  box-shadow: 0 0 5px 0 var(--box-shadow);
  border-color: solid 1px black;
  border-radius: 10px;
  padding: 6px;
}

.nav a:focus,
.nav a:hover {
  cursor: pointer;
  color: white;
  background-color: var(--hover-background-color);
}

.statement {
  color: white;
  font-style: italic;

  position: absolute;
  height: 3rem;
  padding-top: 5px;
  bottom: 15px;
}
