* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav-icon {
  border-radius: 50%;
  max-width: 50px;
}

.full-screen-header {
  height: 100vh;
  background-image: url("images/vaporbackground.jpeg");
  background-size: cover;
  background-position-x: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: rgba(197, 61, 231, 0.3);
}

.nav-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
}
